<p>char-sheet works!</p>

<div class="charSheet nomar">
  <div class="charName">{{getName()}}</div>
  <div class="charPic"><img src="images-/genericHero.png"></div>
  <div class="charClass">{{getDesc()}}</div>
  <div class="charLevel"><span>1</span></div>
  <div class="baseStat hp"><span class="title">HP</span><span>8</span></div>
  <div class="baseStat armor"><span class="title">Armor</span><span>2</span></div>
  <div class="baseStat move"><span class="title">Move</span><span>6</span></div>
  <div class="baseStat dodge"><span class="title">Dodge</span><span>2</span></div>
  <div class="baseStat resist"><span class="title">Resist</span><span>2</span></div>
  <div class="baseStat initiative"><span class="title">Init</span><span>3</span></div>
  <div class="baseStat size"><span>Small</span></div>
  <div class="clear"></div>
  <div class="ability">Sword - Strike +2 1d8 damage</div>
  <div class="ability">Sling - Ranged Strike +4 1d6 damage</div>
  <div class="ability">Sneak Attack - Strike +3 2d8 damage. Must be attack from behind or from cover</div>
  <div class="ability">Stealth - Cannot be seen if in cover</div>
</div>
